<div class="card p-3 row">
  <div class="col">
    <h2><%= link_to recipe.name, recipe %></h2>
    <p>By: <%= recipe.user.name %></p>
  </div>
  <div class="col">
      <p><%= recipe.description%><p>
  </div>
</div>