<div class="container">
<table class="table table-success table-striped text-center">
  <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Actions</th>
  </tr>
<% @recipe_foods.each do |food| %>
        <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %></td>
            <td><%= food.price %></td>
            <td>

                <% if can? :destroy, food %>
                    <div class="delete_food_action">
                        <%= link_to "Remove", { action: :destroy, id: recipe_food.id }, method: :delete %>
                    </div>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
</div>